.header{
  
  position: absolute;
  width: 61px;
  height: 29px;
  left: 232px;
  top: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;

}

.musicplayer-div {
  width: 68px;
  height: 37px;
  top: 13.5px;
  left: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.image{
  left: 232px;
  top: 32px;
  
}
.section {
  /* position: absolute; */
  width: 100%;
  height: 579px;
  left: 232px;
  top: 32px;
  background-color: #A3A3A3;
}
.card{
  display: flex;
flex-direction:column;
align-items:center;
padding: 16px;
gap: 16px;
width: 224px;
height: 259px;
left: 232px;
top: 77px;
background: #242424;
border-radius: 8px;
}

.cards {
  width: 224px;
  height: 259px;
  left: 232px;
  top: 77px;
  background: #242424;
  
}

.card-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  /* position: absolute; */
  width: 224px;
  height: 259px;
  left: 232px;
  top: 77px;

  /* Grey Dark */

  background: #242424;
  border-radius: 8px;
}

.h3 {
  width: 192px;
  height: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.page-image{
  width: 192px;
height: 192px;
border-radius: 8px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: 100%;
  left: 232px;
  top: 77px;
  border-radius: 8px;
}

.h2 {
  position: absolute;
  width: 61px;
  height: 29px;
  left: 232px;
  top: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
   color: #ffffff;
}

