.search{
Width:Hug (88px);
Height:Hug (24px);
Top:128px;
Left:32px;
Gap:16px;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
position: absolute;
left: 16%;
right: 42%;
top: 17.78%;
bottom: 78.89%; 
background-color: #000000;
}
.searchIcon{
width: 24px;
height: 24px;
color: #A3A3A3;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
background: #ffff;
}
.searchLabel{
Width:Hug (48px);
Height:Hug (19px);
Top:2.5px;
Left:40px;
color: #A3A3A3;
Font:Lato;
Size:16px;
Line-height:19.2px;
flex: none;
order: 1;
flex-grow: 0;
}
.logoSpotifoo{
  position: absolute;
  left:32 px;
  right: 25.33%;
  top: 32px;
  bottom: 91.11%;
  width: 117.33px;
  height:32 px;
    }
  
  .home{
    Width:Hug (84px);
  Height:Hug (24px);
  Top:88px;
  Left:32px;
  Gap:16px;
    display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
    position: absolute;
  left: 16%;
  right: 42%;
  top: 12.22%;
  bottom: 84.44%;
 background-color: #000000;
  }
  .homelabel{
    width:Hug(44px);
  height: Hug(19px);
  Top:2.5px;
  Left:40px;
  margin: auto;
   color: #A3A3A3;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  align-items: center;
  background: #000000;
  flex: none;
order: 1;
flex-grow: 0;
  
  }
  .homeIcon{
  Width:24px;
  Height:24px;
  Top:1.5px;
  color: #A3A3A3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 6.25%;
  bottom: 4.84%;
     /* White */
    background: #ffff;
    }
  .nav{
  position: absolute;
  width: 200px;
  height: 720px;
  left: 0px;
  top: 0px;
  background: #000000;
  
  }
.musicplayer{
position: absolute;
width: 1280px;
height: 96px;
left: 0px;
bottom: 0px;
}
.m-button{
  Width:32px;
Height:32px;
Top:23px;
Left:624px;
position: absolute;
left: 48.75%;
right: 48.75%;
top: 23.96%;
bottom: 42.71%;
}
.m-article{
  Width:32px;
Height:32px;
Top:23px;
Left:624px;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
left: 1.25%;
right: 87.73%;
top: 16.67%;
bottom: 16.67%;

}
.m-image{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
left: 1.25%;
right: 87.73%;
top: 16.67%;
bottom: 16.67%;

}
.m-div{
  width: 68px;
height: 37px;
Top:13.5px;
Left:72px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
