.nav {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
  }
  .logoSpotifoo {
    position: absolute;
    left: 32 px;
    right: 25.33%;
    top: 32px;
    bottom: 91.11%;
    width: 117.33px;
    height: 32 px;
  }
  


.home {
    width: Hug (84px);
    height: Hug (24px);
    top: 88px;
    left: 32px;
    gap: 16px;
    color: #a3a3a3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    left: 16%;
    right: 42%;
    top: 12.22%;
    bottom: 84.44%;
    background-color: #000000;
  }
  
  .home-label {
    width: 44px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
  .homeIcon {
    width: 24px;
    height: 24px;
    top: 1.5px;
    color: #a3a3a3;
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 6.25%;
    bottom: 4.84%;
    /* White */
    background: #ffff;
  }
  .search {
    width: Hug (88px);
    height: Hug (24px);
    top: 128px;
    left: 32px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    left: 16%;
    right: 42%;
    top: 17.78%;
    bottom: 78.89%;
    background-color: #000000;
  }
  .searchIcon {
    width: 24px;
    height: 24px;
    color: #a3a3a3;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #ffff;
  }
  
  .searchLabel {
    width: Hug (48px);
    height: Hug (19px);
    top: 2.5px;
    left: 40px;
    color: #a3a3a3;
    font: Lato;
    size: 16px;
    line-height: 19.2px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  
  